/.venv/
/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

node_modules/
frontend-react/dist/
frontend/.parcel-cache/
frontend/.cache/
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/
/.cursor/
/.cursorignore
/terminals/

*.sqlite
*.db
